.cardHolder{
    display: flex;
    flex-wrap: wrap;
}
.btn{
    outline: none;
    background: darkslateblue;
    color: whitesmoke;
    padding: 10px 40px;
    border:none;
    font-size: medium;
    box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
margin-left:20px;
cursor: pointer;
}
.danger{
    background: rgb(197, 57, 33);
    
}